@import '@/styles/index.less';

.webkitScrollbarStyle(transparent, @gray-1-1);

:root {
  // 默认主题背景颜色
  --background: @theme;
  // 默认 Card 组件卡片渐变背景色，@bg-lg-2
  --bg-lg-color1: @bg-lg-color1;
  --bg-lg-color2: @bg-lg-color2;
  --shadow-color: @shadow-color;
  // 默认我的分类 Reel 组件卡片渐变背景色
  --reel-lg-color1: @reel-lg-color1;
  --reel-lg-color2: @reel-lg-color2;
  // 时间轴奇数项渐变颜色
  --timeline-lg-color1: @timeline-lg-color1;
  --timeline-lg-color2: @timeline-lg-color2;
  // 通用（时间轴、博主主页）渐变背景颜色
  --card-lg-color1: @card-lg-color1;
  --card-lg-color2: @card-lg-color2;
  --head-lg-color1: @head-lg-color1;
  --head-lg-color2: @reel-lg-color2;
  // 全局选中颜色
  --active-color: @active;
  // 主题文字颜色
  --theme-blue: @theme-blue;
  --yellow-1: @yellow-1;
  --card-border: @card-border;
  // 字体颜色
  --font-1: @font-1;
  --font-2: @font-2;
  --font-3: @font-3;
  --font-4: @font-4;
  --font-5: @font-5;
  --font-6: @font-6;
  --fff: @fff;
  // tab 背景颜色
  --tab-color: @tab-color;
  --theme: @theme;
  --loading-color: @loading-color;
  --loading-text-color: @loading-text-color;
  // @menu-weak
  --menu-weak: @menu-weak;
  --shadow-mack: @shadow-mack-color;
  --card-shadow: @card-shadow;
  --code-color: @code-color;
  --p-code-color: @p-code-color;
  --p-code-bg-color: @p-code-bg-color;
  --modal-bg-color: @theme;
  --input-bg-color: @fff;
  --to-top-bg-color: @to-top-bg-color;
  --layer-2-2: @layer-2-2;
  // 背景动画
  --bg-animation: none;
  // 背景图片
  --bg-image-url: none;
  --bg-position: center;
  --bg-repeat: no-repeat;
  // 背景图片缩放大小
  --bg-img-size: cover;
  // 背景图片滤镜
  --backdrop-filter: initial;
  // 富文本编辑器字体颜色
  --e-edit-color: auto;
  // 图片背景兼容字体颜色
  --font-color: none;
  // 文章详情代码块背景颜色
  --pre-bg-color: @pre-bg-color;
  // 详情文章预览hover背景颜色
  --pre-hover-bg: initial;
  // 右键菜单背景颜色
  --shade-2: transparent;
  // 文章说明背景颜色
  --shade-3: transparent;
  // 卡片操作字体颜色
  --card-action-font-color: @theme-blue;
  // 卡片操作背景颜色
  --card-action-color: @card-action-color;
  // 弹窗before背景颜色
  --pop-before-bg-color: 'transparent';
  // 标题颜色
  --h-color: @h-color;
  // pop 下拉菜单背景颜色
  --pop-menu-color: @pop-menu-color;
  // 登录背景
  --login-bg-img: @login-bg-img;
  --active: @active;
  // 图片色相
  --img-hue-rotate: @img-hue-rotate;
  // 菜单选中/hover颜色
  --menu-hover-color: @menu-hover-color;
  --menu-hover-text-color: @menu-hover-text-color;
  // 登录表单背景颜色
  --login-bg: @login-bg;
  --placeholder-color: @placeholder-color;
  // upload hover 背景颜色
  --upload-hover-bg-color: @upload-hover-bg-color;
  --primary: @primary;
  --hover-text-color: @hover-text-color;
  // element 主题色
  --el-color-primary: @theme-blue;
  --el-color-primary-dark-2: @primary-dark-2;
  --el-color-primary-light-3: @primary-light-3;
  --el-color-primary-light-5: @primary-light-5;
  --el-color-primary-light-7: @primary-light-7;
  --el-color-primary-light-8: @primary-light-8;
  --el-color-primary-light-9: @primary-light-9;

  // markdown const color
  --markdown-const-color: @markdown-const-color;
  // markdown return color
  --markdown-return-color: @markdown-return-color;
  --markdown-function-color: @markdown-function-color;
  // markdown param color
  --markdown-param-color: @markdown-param-color;
  --markdown-strong-color: @markdown-strong-color;

  // 菜单渐变颜色
  --lg-colors: @lg-colors;
  // 菜单选中颜色
  --lg-active-colors: @lg-active-colors;
  // 预览table 偶数项背景颜色
  --table-even-bg: @table-even-bg;
  // editor 代码块背景颜色
  --code-pre-bg: @code-pre-bg;
  // 卡片按钮背景
  --card-btn-mark: @card-btn-mark;
  --font-weight: @font-weight;
  --search-border-color: @search-border-color;
  --scroll-color: @scroll-color;
  --icon-bg-color: @shadow-color;
  --green-1: @green-1;
  --green-2: @green-2;
  --card-bt-bg: @card-bt-bg;
  --text-shadow: @text-shadow;
  --chat-text-area-bg: 'transparent';
  --chat-border-color: @chat-border-color;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100% !important;
  overflow: hidden;
  background-color: var(--background);
  background-image: var(--bg-image-url);
  background-position: var(--bg-position);
  background-repeat: var(--bg-repeat);
  background-size: var(--bg-img-size);
}

ul {
  padding: 0;
}

#app {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.popover {
  min-width: 120px !important;
}

// 更改全局弹窗
.el-dialog {
  background-color: var(--modal-bg-color) !important;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--pop-before-bg-color);
    box-shadow: 2px 0 2px -2px var(--card-border) inset;
    z-index: -1;
  }
}

// 抽屉背景颜色
.el-drawer {
  background-color: var(--modal-bg-color) !important;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: 2px 0 2px -2px var(--card-border) inset;
    backdrop-filter: blur(3px);
  }
}

.el-drawer__header,
.el-drawer__body,
.el-dialog__title,
.el-dialog__close {
  position: relative;
  color: var(--font-1) !important;
  text-shadow: var(--text-shadow);
}

.msg-popover,
.speed-pop,
.login-popover,
.translate-popover {
  position: relative;
  background: var(--modal-bg-color) !important;
  color: var(--font-1) !important;
  text-shadow: var(--text-shadow);
  border: none !important;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backdrop-filter: blur(5px);
  }

  .el-popover__title {
    position: relative;
    color: var(--font-1);
    text-shadow: var(--text-shadow);
    z-index: 29;
  }

  .el-popper__arrow {
    // &::before {
    //   background: var(--modal-bg-color) !important;
    //   border: 1px solid var(--card-border) !important;
    // }
    display: none;
  }
}

.login-popover {
  width: 120px !important;
  min-width: auto !important;
  padding: 12px 0 4px !important;
}

.translate-popover {
  width: 300px !important;
  min-width: auto !important;
  padding: 12px 0 4px !important;
}

.MSG_CONFIG {
  background-color: var(--modal-bg-color);
  border: none;
  backdrop-filter: blur(3px);

  .el-message-box__title {
    color: var(--font-1);
    text-shadow: var(--text-shadow);
  }

  .el-message-box__message {
    padding: 5px 0 15px;

    p {
      color: var(--font-3);
      text-shadow: var(--text-shadow);
      font-size: 16px;
    }
  }

  .el-button {
    padding-top: 10px;
    width: 100px;
    height: 35px;
  }
}

.speed-pop {
  display: flex;
  justify-content: center;
  min-width: 50px !important;
  width: 50px !important;
  backdrop-filter: blur(2px);
}

.draw-pop {
  display: flex;
  justify-content: center;
  min-width: 32px !important;
  width: 32px !important;
  backdrop-filter: blur(2px);
}

// 画板tips
.tip-text {
  .clickNoSelectText();
}

// 下拉菜单
.custom-dropdown-styles,
.header-search-popover {
  background: transparent !important;
  backdrop-filter: blur(5px);
  color: var(--font-1);
  text-shadow: var(--text-shadow);
  box-shadow: 0 0 5px var(--card-shadow);
  border: none !important;

  .el-dropdown-menu {
    background: var(--modal-bg-color) !important;
  }

  .el-dropdown-menu__item {
    color: var(--font-color);
  }

  .el-dropdown-menu__item:not(.is-disabled):focus {
    background-color: var(--pre-bg-color);
    color: var(--theme-blue);
  }

  .el-popper__arrow::before {
    display: none;
  }

  .info-text {
    color: var(--active);
  }
}

.header-search-popover {
  width: 90px !important;
  min-width: auto !important;
  padding: 0 !important;
  box-shadow: 0 0 5px var(--card-shadow) !important;
}

.el-notification {
  background-color: var(--modal-bg-color);
  border: 1px solid var(--card-shadow);
  backdrop-filter: blur(3px);

  .el-notification__title,
  .el-notification__content,
  .el-notification__closeBtn {
    color: var(--font-1);
    text-shadow: var(--text-shadow);
  }
}

.el-notification.right {
  right: 25px;
}
